<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJs - Express <%= title %></title>
    <%- include('partials/head') %> 
</head>
<body>

    <%- include('partials/navigation') %>

    <div class="container container-main">
        <div class="row justify-content-end pb-3">
            <div class="col-2">
                <button type="button" class="btn btn-primary w-100">Agregar</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-warning w-100">Warning</button>
            </div>
        </div>
        <div class="row">
            <%- include('partials/tabla') %>
        </div>
        <%- include('partials/footer') %>
    </div>

</body>
</html>